RewriteEngine On

# Chỉ chuyển hướng nếu không phải là các tệp hoặc thư mục cụ thể
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng các yêu cầu đến index.php với tham số slug
RewriteRule ^([^/]+)$ index.php?slug=$1 [L,QSA]
