RewriteEngine On
RewriteBase /

# Chuyển hướng tất cả các yêu cầu không phải là file hoặc thư mục đến index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Định tuyến yêu cầu đến index.php và truyền tham số `url`
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
